body { 
    margin: 0; 
    font-family:'Courier New', Courier, monospace;
    color: white;
}

img {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 175px;
    height: 175px;
    position: absolute;
    z-index: 1;
}

#mediaIcon {
    padding-top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    position: absolute;
    /* z-index: 1; */
    float: left;
}

#divIconSong {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2.5%;
    left: 2.5%;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(50px);
    outline-style: solid;
    outline-color: invert;
    outline-width: thin;
    height: 60px;
    width: 500px;
}

#songInfo {
    padding-left: 60px;
    font-size: 20px;
    float: left;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 14px;
    cursor: pointer;
}